<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mawluis.pergunti">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".telas.telaLogin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".telas.telaCadastro" />
        <activity android:name=".conexao.conexaoBD" />
        <activity android:name=".telas.telaInicial" />
        <activity android:name=".telas.telaJogo" />
        <activity android:name=".telas.telaJogoCustom" />
        <activity android:name=".telas.telaPerguntas" />
        <activity android:name=".telas.telaCriacaoPerg" />
        <activity android:name=".telas.telaRanking" />
        <activity android:name=".telas.telaSelJogo"></activity>
    </application>

</manifest>